@{
    ViewBag.Title = ProjetCovoiturage.Resources.Views.Account.AuthentificationError;
}

<hgroup>
    <h2>@ProjetCovoiturage.Resources.Views.Account.AuthentificationError</h2>
    <h3 class="text-danger">@ProjetCovoiturage.Resources.Views.Account.AuthentificationErrorMessage</h3>
</hgroup>
