@{
    ViewBag.Title = ProjetCovoiturage.Resources.Views.Account.ConfirmationForgotPasswd;
}

<hgroup class="title">
    <h1>@ProjetCovoiturage.Resources.Views.Account.ConfirmationForgotPasswd</h1>
</hgroup>
<div>
    <p>
        @ProjetCovoiturage.Resources.Views.Account.ConfirmationForgotPasswdMessage
    </p>
</div>
	
