@{
    ViewBag.Title = ProjetCovoiturage.Resources.Views.Account.ResetPasswdMessage;
}

<hgroup class="title">
    <h1>@ProjetCovoiturage.Resources.Views.Account.ResetPasswdMessage</h1>
</hgroup>
<div>
    <p>
        @ProjetCovoiturage.Resources.Views.Account.ResetPasswdSucces @Html.ActionLink(ProjetCovoiturage.Resources.Views.Account.ClickConnect, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
