@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        ASP.NET
        @*@ProjetCovoiturage.Resources.Views.Home.HomeTitle*@
    </h1>
    <p class="lead">
        ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.
        @*@ProjetCovoiturage.Resources.Views.Home.Description*@
    </p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">@*@ProjetCovoiturage.Resources.Views.Home.More*@ &raquo;</a></p>
</div>
        <div class="row">
            <div class="col-md-4">
                <h2> Getting started @*@ProjetCovoiturage.Resources.Views.Home.Start*@</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.@*@ProjetCovoiturage.Resources.Views.Home.MoreDescription*@
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">@*@ProjetCovoiturage.Resources.Views.Home.More *@&raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries@*@ProjetCovoiturage.Resources.Views.Home.MoreLibrarie*@</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.@*@ProjetCovoiturage.Resources.Views.Home.DescriptionLibrarie*@</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">@*@ProjetCovoiturage.Resources.Views.Home.More*@ &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting@*@ProjetCovoiturage.Resources.Views.Home.WebHosting*@</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.@*@ProjetCovoiturage.Resources.Views.Home.WebDescription*@</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">@*@ProjetCovoiturage.Resources.Views.Home.More*@ &raquo;</a></p>
            </div>
        </div>
