@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = ProjetCovoiturage.Resources.Views.Home.Error;
}

<h1 class="text-danger">@ProjetCovoiturage.Resources.Views.Home.Error</h1>
<h2 class="text-danger">@ProjetCovoiturage.Resources.Views.Home.ErrorMessage</h2>

