@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = ProjetCovoiturage.Resources.Views.Home.Locked;
}

<hgroup>
    <h1 class="text-danger">@ProjetCovoiturage.Resources.Views.Home.Locked</h1>
    <h2 class="text-danger">@ProjetCovoiturage.Resources.Views.Home.LockedMessage</h2>
</hgroup>
