<html>

<head>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <style>
        #chart_container {
            width: 400px;
            height: 400px;
        }
    </style>
</head>




<body>

    <h1>Les Notes des Clients</h1>

    <div id="chart_container">
        <canvas id="pie_chart_NotesClients"></canvas>
    </div>

    <script>

            var repArrayClient = @Html.Raw(Json.Encode(ViewBag.RepClient));
            var notesClient = @Html.Raw(Json.Encode(ViewBag.NoteClient));

        var ctx = $("#pie_chart_NotesClients");

            var pieChartNotesClients = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: notesClient,
                    datasets: [{
                        label: "Pie Chart Notes Clients",
                        data: repArrayClient,
                        backgroundColor: ["#ff0000", "#0000E6", "#008000", "#f2f40b", "#c8a2c8", "#ffe2e4", "#5000ff"],
                        borderColor: ["#000000", "#000000", "#000000", "#000000", "#000000", "#000000", "#000000"],
                        borderWidth: 5
                    }],
                },
                options: {
                    cutoutPercentage: 0,
                    responsive: true

                },
            });


    </script>



</body>


</html>


